In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import os
import pandas as pd
analyser = SentimentIntensityAnalyzer()

In [2]:
df = pd.read_csv("market(1).csv") 
df.head()

,business_id,text,topic
0,ytynqOUb3hjKeJfRj5Tshw,I love this place! Doesn't take me long to get...,2
1,ytynqOUb3hjKeJfRj5Tshw,"One of my favorite places to go to in Philly, ...",-1
2,ytynqOUb3hjKeJfRj5Tshw,This might be a bit unfair to have a single re...,-1
3,ytynqOUb3hjKeJfRj5Tshw,"Alright, I remember the first time I went to t...",0
4,ytynqOUb3hjKeJfRj5Tshw,"It's an experience, to say the least! Not as ...",-1

In [3]:
Topic_minus_1=df[df['topic']== -1]
Topic_minus_1
Topic_minus_1.to_csv('topic-1_market.csv', sep=',', index=False)

In [4]:
Topic_1=df[df['topic']== 1]
Topic_1
Topic_1.to_csv('topic1_market.csv', sep=',', index=False)

In [5]:
Topic_0=df[df['topic']== 0]
Topic_0
Topic_0.to_csv('topic0_market.csv', sep=',', index=False)

In [6]:
Topic_2=df[df['topic']== 2]
Topic_2
Topic_2.to_csv('topic2_market.csv', sep=',', index=False)

In [7]:
Topic_3=df[df['topic']== 3]
Topic_3
Topic_3.to_csv('topic3_market.csv', sep=',', index=False)

In [8]:
def vader_analysis(compound):
    if compound > 0.7:
        return 'Positive'
    elif compound < 0.7 and compound > -0.7 :
        return 'Neutral'
    else:
        return 'Negative'

## For topic 0

In [9]:
df = pd.read_csv('topic-1_market.csv') 
df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])

In [10]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
4964,ytynqOUb3hjKeJfRj5Tshw,Must\n\nReading terminal is a must. Everything...,-1,-0.6114,Neutral
4965,ytynqOUb3hjKeJfRj5Tshw,Love this market! This is a popular destinatio...,-1,0.9564,Positive
4966,ytynqOUb3hjKeJfRj5Tshw,Love it here!\n\nEveryone has to visit here ev...,-1,0.6988,Neutral
4967,ytynqOUb3hjKeJfRj5Tshw,"If it wasn't for my friend dragging me out, I ...",-1,-0.5145,Neutral
4968,ytynqOUb3hjKeJfRj5Tshw,"I was so excited about all the food I saw, but...",-1,0.5685,Neutral

In [11]:
df = df.drop('business_id',axis = 1)
# df = df.drop('pos',axis = 1)
df

,text,topic,compound,Sentiment
0,"One of my favorite places to go to in Philly, ...",-1,0.9729,Positive
1,This might be a bit unfair to have a single re...,-1,0.9606,Positive
2,"It's an experience, to say the least! Not as ...",-1,0.9259,Positive
3,Food selection is bountiful. Gets a bit crowde...,-1,0.2023,Neutral
4,"fresh seafood and produce. fresh breads, chees...",-1,0.8271,Positive
...,...,...,...,...
4964,Must\n\nReading terminal is a must. Everything...,-1,-0.6114,Neutral
4965,Love this market! This is a popular destinatio...,-1,0.9564,Positive
4966,Love it here!\n\nEveryone has to visit here ev...,-1,0.6988,Neutral
4967,"If it wasn't for my friend dragging me out, I ...",-1,-0.5145,Neutral
4968,"I was so excited about all the food I saw, but...",-1,0.5685,Neutral

In [12]:
comp = df['compound'].mean()
comp

0.7445767760112699

In [13]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive

## For topic 1

In [14]:
# set files path
topic_zero = 'topic0_market.csv'
topic_one = 'topic1_market.csv'

#merge files
dataframe = pd.concat( map(pd.read_csv, [topic_zero,topic_one]), 
                     ignore_index=True)

# Export dataframe into a CSV
dataframe.to_csv('topic1_new_market.csv', sep=',', index=False)

In [15]:
df = dataframe
df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])
df

,business_id,text,topic,compound
0,ytynqOUb3hjKeJfRj5Tshw,"Alright, I remember the first time I went to t...",0,0.9793
1,ytynqOUb3hjKeJfRj5Tshw,Best place for lunch in the city! Anything yo...,0,0.8708
2,ytynqOUb3hjKeJfRj5Tshw,Awesome mix of small food outlets and grocery....,0,0.8151
3,ytynqOUb3hjKeJfRj5Tshw,Places I've tried and highly recommend!!!\n\nD...,0,0.9564
4,ytynqOUb3hjKeJfRj5Tshw,One word: DiNic's. Get the roast pork sandwi...,0,0.5859
...,...,...,...,...
498,ytynqOUb3hjKeJfRj5Tshw,A little bit of everything. Here they have lot...,1,0.5188
499,ytynqOUb3hjKeJfRj5Tshw,Yum! This massive food market is located conve...,1,0.9939
500,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market (or 'RTM' for short) i...,1,0.9153
501,ytynqOUb3hjKeJfRj5Tshw,I have found a cure for claustrophobia. Readin...,1,0.8839
502,ytynqOUb3hjKeJfRj5Tshw,Market full of treats and foods to eat and try...,1,0.8514

In [16]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
498,ytynqOUb3hjKeJfRj5Tshw,A little bit of everything. Here they have lot...,1,0.5188,Neutral
499,ytynqOUb3hjKeJfRj5Tshw,Yum! This massive food market is located conve...,1,0.9939,Positive
500,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market (or 'RTM' for short) i...,1,0.9153,Positive
501,ytynqOUb3hjKeJfRj5Tshw,I have found a cure for claustrophobia. Readin...,1,0.8839,Positive
502,ytynqOUb3hjKeJfRj5Tshw,Market full of treats and foods to eat and try...,1,0.8514,Positive

In [17]:
df = df.drop('business_id',axis = 1)
# df = df.drop('pos',axis = 1)
df

,text,topic,compound,Sentiment
0,"Alright, I remember the first time I went to t...",0,0.9793,Positive
1,Best place for lunch in the city! Anything yo...,0,0.8708,Positive
2,Awesome mix of small food outlets and grocery....,0,0.8151,Positive
3,Places I've tried and highly recommend!!!\n\nD...,0,0.9564,Positive
4,One word: DiNic's. Get the roast pork sandwi...,0,0.5859,Neutral
...,...,...,...,...
498,A little bit of everything. Here they have lot...,1,0.5188,Neutral
499,Yum! This massive food market is located conve...,1,0.9939,Positive
500,Reading Terminal Market (or 'RTM' for short) i...,1,0.9153,Positive
501,I have found a cure for claustrophobia. Readin...,1,0.8839,Positive
502,Market full of treats and foods to eat and try...,1,0.8514,Positive

In [18]:
comp = df['compound'].mean()
comp

0.8182671968190859

In [19]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive

## Topic 2

In [20]:
# set files path
topic_two = 'topic2_market.csv'
topic_three = 'topic3_market.csv'

#merge files
dataframe =  pd.concat( map(pd.read_csv, [topic_two,topic_three]), 
                     ignore_index=True)

# Export dataframe into a CSV
dataframe.to_csv('merged_topic2_market.csv', sep=',', index=False)

In [21]:
df = pd.read_csv('topic1_market.csv')

df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])

In [22]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
227,ytynqOUb3hjKeJfRj5Tshw,A little bit of everything. Here they have lot...,1,0.5188,Neutral
228,ytynqOUb3hjKeJfRj5Tshw,Yum! This massive food market is located conve...,1,0.9939,Positive
229,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market (or 'RTM' for short) i...,1,0.9153,Positive
230,ytynqOUb3hjKeJfRj5Tshw,I have found a cure for claustrophobia. Readin...,1,0.8839,Positive
231,ytynqOUb3hjKeJfRj5Tshw,Market full of treats and foods to eat and try...,1,0.8514,Positive

In [23]:
df = df.drop('business_id',axis = 1)
df

,text,topic,compound,Sentiment
0,This place is amazing - a foodie paradise on e...,1,0.9200,Positive
1,Visited here for lunch! This place is massive!...,1,0.8466,Positive
2,Amazing atmosphere. An absolute feast for the ...,1,0.9670,Positive
3,THE BEST!!! OMG - ask questions the people are...,1,0.9703,Positive
4,Great place for locals and tourists. We took ...,1,0.5255,Neutral
...,...,...,...,...
227,A little bit of everything. Here they have lot...,1,0.5188,Neutral
228,Yum! This massive food market is located conve...,1,0.9939,Positive
229,Reading Terminal Market (or 'RTM' for short) i...,1,0.9153,Positive
230,I have found a cure for claustrophobia. Readin...,1,0.8839,Positive
231,Market full of treats and foods to eat and try...,1,0.8514,Positive

In [24]:
comp = df['compound'].mean()
comp

0.812768534482759

In [25]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive