In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import os
import pandas as pd
analyser = SentimentIntensityAnalyzer()

In [2]:
df = pd.read_csv("chicken(1).csv") 
df.head()

,business_id,text,topic
0,GXFMD0Z4jEVZBCsbPf4CTQ,The hype is real: Hattie B's hot chicken has t...,-1
1,GXFMD0Z4jEVZBCsbPf4CTQ,We waited more than an hour. But it was worth ...,-1
2,GXFMD0Z4jEVZBCsbPf4CTQ,"Get the pimiento Mac and cheese, It's honestly...",3
3,GXFMD0Z4jEVZBCsbPf4CTQ,Eating at Hattie B's was one of the best decis...,-1
4,GXFMD0Z4jEVZBCsbPf4CTQ,Innnnnn love! Visited Nash for the first time ...,1

In [3]:
Topic_minus_1=df[df['topic']== -1]
Topic_minus_1
Topic_minus_1.to_csv('topic-1.csv', sep=',', index=False)

In [4]:
Topic_1=df[df['topic']== 1]
Topic_1
Topic_1.to_csv('topic1.csv', sep=',', index=False)

In [5]:
Topic_0=df[df['topic']== 0]
Topic_0
Topic_0.to_csv('topic0.csv', sep=',', index=False)

In [6]:
Topic_2=df[df['topic']== 2]
Topic_2
Topic_2.to_csv('topic2.csv', sep=',', index=False)

In [7]:
Topic_3=df[df['topic']== 3]
Topic_3
Topic_3.to_csv('topic3.csv', sep=',', index=False)

In [8]:
Topic_4=df[df['topic']== 4]
Topic_4
Topic_4.to_csv('topic4.csv', sep=',', index=False)

In [9]:
def vader_analysis(compound):
    if compound > 0.7:
        return 'Positive'
    elif compound < 0.7 and compound > -0.7 :
        return 'Neutral'
    else:
        return 'Negative'

## For topic 0

In [10]:
df = pd.read_csv('topic-1.csv') 
df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])

In [11]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
4960,GXFMD0Z4jEVZBCsbPf4CTQ,Traveled to Nashville TN and recommendation fr...,-1,0.6648,Neutral
4961,GXFMD0Z4jEVZBCsbPf4CTQ,Great! This really was the #1 Nashville Hot C...,-1,-0.2905,Neutral
4962,GXFMD0Z4jEVZBCsbPf4CTQ,"Aaa yes, the famous Hattie B's. The most recom...",-1,0.9926,Positive
4963,GXFMD0Z4jEVZBCsbPf4CTQ,"When I think about fried chicken, Hattie B's h...",-1,0.9567,Positive
4964,GXFMD0Z4jEVZBCsbPf4CTQ,Don't be discouraged from the long lines! If y...,-1,0.9957,Positive

In [12]:
df = df.drop('business_id',axis = 1)
df

,text,topic,compound,Sentiment
0,The hype is real: Hattie B's hot chicken has t...,-1,0.9798,Positive
1,We waited more than an hour. But it was worth ...,-1,0.4176,Neutral
2,Eating at Hattie B's was one of the best decis...,-1,0.9804,Positive
3,This review is for the Hattie B's on Charlotte...,-1,0.3909,Neutral
4,The chicken absolutely lives up to all the hyp...,-1,0.7923,Positive
...,...,...,...,...
4960,Traveled to Nashville TN and recommendation fr...,-1,0.6648,Neutral
4961,Great! This really was the #1 Nashville Hot C...,-1,-0.2905,Neutral
4962,"Aaa yes, the famous Hattie B's. The most recom...",-1,0.9926,Positive
4963,"When I think about fried chicken, Hattie B's h...",-1,0.9567,Positive
4964,Don't be discouraged from the long lines! If y...,-1,0.9957,Positive

In [13]:
comp = df['compound'].mean()
comp

0.788037220543804

In [14]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive

## For topic 1

In [15]:
# set files path
topic_zero = 'topic0.csv'
topic_two = 'topic2.csv'

#merge files
dataframe = pd.concat( map(pd.read_csv, [topic_zero,topic_two]), 
                     ignore_index=True)

# Export dataframe into a CSV
dataframe.to_csv('topic1_new.csv', sep=',', index=False)

In [16]:
df = dataframe
df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])
df

,business_id,text,topic,compound
0,GXFMD0Z4jEVZBCsbPf4CTQ,Hot hot hot....and does not disappoint! Chicke...,0,-0.3691
1,GXFMD0Z4jEVZBCsbPf4CTQ,Awesome fried chicken. Place gets very busy so...,0,0.9340
2,GXFMD0Z4jEVZBCsbPf4CTQ,This is probably the best chicken I have ever ...,0,0.8977
3,GXFMD0Z4jEVZBCsbPf4CTQ,Always good chicken. I'd prefer ordering ahea...,0,0.0516
4,GXFMD0Z4jEVZBCsbPf4CTQ,When I went to this establishment I had the be...,0,0.9505
...,...,...,...,...
595,GXFMD0Z4jEVZBCsbPf4CTQ,Boooooooy this place almost ruined my weekend ...,2,0.9262
596,GXFMD0Z4jEVZBCsbPf4CTQ,My god these wings are no joke! When they say ...,2,0.8711
597,GXFMD0Z4jEVZBCsbPf4CTQ,"Hot Chicken is a must-try in Nashville, and Ha...",2,0.9738
598,GXFMD0Z4jEVZBCsbPf4CTQ,I gave this place a three star mainly because ...,2,0.9193
599,GXFMD0Z4jEVZBCsbPf4CTQ,"No complaints about Hattie B's, really, but no...",2,-0.6797

In [17]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
595,GXFMD0Z4jEVZBCsbPf4CTQ,Boooooooy this place almost ruined my weekend ...,2,0.9262,Positive
596,GXFMD0Z4jEVZBCsbPf4CTQ,My god these wings are no joke! When they say ...,2,0.8711,Positive
597,GXFMD0Z4jEVZBCsbPf4CTQ,"Hot Chicken is a must-try in Nashville, and Ha...",2,0.9738,Positive
598,GXFMD0Z4jEVZBCsbPf4CTQ,I gave this place a three star mainly because ...,2,0.9193,Positive
599,GXFMD0Z4jEVZBCsbPf4CTQ,"No complaints about Hattie B's, really, but no...",2,-0.6797,Neutral

In [18]:

df = df.drop('business_id',axis = 1)
df

,text,topic,compound,Sentiment
0,Hot hot hot....and does not disappoint! Chicke...,0,-0.3691,Neutral
1,Awesome fried chicken. Place gets very busy so...,0,0.9340,Positive
2,This is probably the best chicken I have ever ...,0,0.8977,Positive
3,Always good chicken. I'd prefer ordering ahea...,0,0.0516,Neutral
4,When I went to this establishment I had the be...,0,0.9505,Positive
...,...,...,...,...
595,Boooooooy this place almost ruined my weekend ...,2,0.9262,Positive
596,My god these wings are no joke! When they say ...,2,0.8711,Positive
597,"Hot Chicken is a must-try in Nashville, and Ha...",2,0.9738,Positive
598,I gave this place a three star mainly because ...,2,0.9193,Positive
599,"No complaints about Hattie B's, really, but no...",2,-0.6797,Neutral

In [19]:
comp = df['compound'].mean()
comp

0.7197101666666667

In [20]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive

## Topic 2

In [21]:
df = pd.read_csv('topic1.csv')

df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])

In [22]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
265,GXFMD0Z4jEVZBCsbPf4CTQ,I was told this was a must do in Nashville and...,1,0.9260,Positive
266,GXFMD0Z4jEVZBCsbPf4CTQ,Hattie B's is a must when you're in Nashville....,1,0.9643,Positive
267,GXFMD0Z4jEVZBCsbPf4CTQ,I really loved Hattie B's. I felt like this on...,1,0.9753,Positive
268,GXFMD0Z4jEVZBCsbPf4CTQ,This was my third time to Nashville and finall...,1,0.9519,Positive
269,GXFMD0Z4jEVZBCsbPf4CTQ,Great crispy chicken sandwich and the greens w...,1,0.9310,Positive

In [23]:

df = df.drop('business_id',axis = 1)

df

,text,topic,compound,Sentiment
0,Innnnnn love! Visited Nash for the first time ...,1,0.9385,Positive
1,I don't have much to add to the 762 reviews th...,1,0.9442,Positive
2,Went 3pm on a Wednesday and did not have to wa...,1,0.9682,Positive
3,I don't believe I've had fried chicken as good...,1,0.9829,Positive
4,Worth the wait! Chicken tenders were amazing! ...,1,0.9855,Positive
...,...,...,...,...
265,I was told this was a must do in Nashville and...,1,0.9260,Positive
266,Hattie B's is a must when you're in Nashville....,1,0.9643,Positive
267,I really loved Hattie B's. I felt like this on...,1,0.9753,Positive
268,This was my third time to Nashville and finall...,1,0.9519,Positive
269,Great crispy chicken sandwich and the greens w...,1,0.9310,Positive

In [24]:
comp = df['compound'].mean()
comp

0.8522792592592593

In [25]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive

## Topic 3

In [26]:
# set files path
topic_three = 'topic3.csv'
topic_four = 'topic4.csv'

#merge files
dataframe =  pd.concat( map(pd.read_csv, [topic_three,topic_four]), 
                     ignore_index=True)

# Export dataframe into a CSV
dataframe.to_csv('merged_topic3.csv', sep=',', index=False)

In [27]:
df = dataframe

df['compound'] = df['text'].apply(lambda x:analyser.polarity_scores(x)['compound'])

In [28]:
df['Sentiment']=df['compound'].apply(vader_analysis)
df.tail()

,business_id,text,topic,compound,Sentiment
320,GXFMD0Z4jEVZBCsbPf4CTQ,Great mac and Cheese and great service - clean...,4,0.9758,Positive
321,GXFMD0Z4jEVZBCsbPf4CTQ,This place was better than expected! You never...,4,0.8951,Positive
322,GXFMD0Z4jEVZBCsbPf4CTQ,The chicken was adequate and the pimento macar...,4,0.2382,Neutral
323,GXFMD0Z4jEVZBCsbPf4CTQ,I know everyone loves this place for its chick...,4,0.8845,Positive
324,GXFMD0Z4jEVZBCsbPf4CTQ,Wings were fire ! Tried the pimento Mac and c...,4,-0.2225,Neutral

In [29]:
df = df.drop('business_id',axis = 1)
df

,text,topic,compound,Sentiment
0,"Get the pimiento Mac and cheese, It's honestly...",3,0.7145,Positive
1,"Beware, if you like spice, the ""shut the cluck...",3,0.9691,Positive
2,i opted for medium spice since i read reviews ...,3,0.9859,Positive
3,The chicken is so perfectly seasoned and juicy...,3,0.7972,Positive
4,I ordered the small portion of dark meat - a l...,3,0.9873,Positive
...,...,...,...,...
320,Great mac and Cheese and great service - clean...,4,0.9758,Positive
321,This place was better than expected! You never...,4,0.8951,Positive
322,The chicken was adequate and the pimento macar...,4,0.2382,Neutral
323,I know everyone loves this place for its chick...,4,0.8845,Positive
324,Wings were fire ! Tried the pimento Mac and c...,4,-0.2225,Neutral

In [30]:
comp = df['compound'].mean()
comp

0.802960615384615

In [31]:
final_overall_sentiment = vader_analysis(comp)
print(final_overall_sentiment)

Positive